div.topbar
  div.fill
    div.container
      h3 
        a(href="#") Dashboard
      ul
        li
          form
            input
        li
          a(href="javascript:;") Foo
      ul.nav.secondary-nav
        li.dropdown("data-dropdown"="dropdown")
          a.dropdown-toggle(href="#") Chicken?
          ul.dropdown-menu
            li 
              a chicken
            li 
              a chicken 2
            li.divider
            li 
              a chicken 3
        
div.header-spacer

div.grid-background.container.main-content#content
  p hellaskjdflkasjdf lkasjdf lakjw etlkja wet
  p hellaskjdflkasjdf lkasjdf lakjw etlkja wet
  p hellaskjdflkasjdf lkasjdf lakjw etlkja wet
  p hellaskjdflkasjdf lkasjdf lakjw etlkja wet
  p hellaskjdflkasjdf lkasjdf lakjw etlkja wet

script(src="/javascripts/jquery-1.6.2.min.js")
script(src="/javascripts/jquery.tmpl.min.js")
script(src="/javascripts/d3/d3.js")
script(src="/javascripts/d3/d3.layout.js")
script(src="/javascripts/bootstrap/bootstrap-alerts.js")
script(src="/javascripts/bootstrap/bootstrap-modal.js")
script(src="/javascripts/bootstrap/bootstrap-scrollspy.js")
script(src="/javascripts/bootstrap/bootstrap-twipsy.js")
script(src="/javascripts/bootstrap/bootstrap-dropdown.js")
script(src="/javascripts/bootstrap/bootstrap-popover.js")
script(src="/javascripts/bootstrap/bootstrap-tabs.js")
script(src="/javascripts/stopwatch.js")
script(src="/javascripts/inputs/elasticsearch.js")
script(src="/javascripts/outputs/bar.js")
script(src="/javascripts/outputs/pie.js")
script(src="/javascripts/outputs/table.js")
script(src="/javascripts/outputs/tree.js")
script(src="/javascripts/widget.js")
script(src="/javascripts/logstash.js")

