div.topbar
  div.fill
    div.container
      ul
        li
          form.query(method="get", action="")
            input.query(type="text", name="query", placeholder="Search")
        li
          img.loading.throbber.smooth.hidden-by-default(src="/images/throbber.gif")
      ul.nav.secondary-nav
        li.menu
          a.menu(href="#") Drop sucka
          ul.menu-dropdown
            li 
              a(href="#") one
            li 
              a(href="#") two
            li.divider
            li 
              a(href="#") three
        
div.container#content(style="margin-top: 40px")

script(src="/javascripts/jquery-1.6.2.min.js")
script(src="/javascripts/jquery.tmpl.min.js")
script(src="/javascripts/jsonpath-0.8.0.js")
script(src="/javascripts/d3/d3.js")
script(src="/javascripts/d3/d3.layout.js")
script(src="/javascripts/inputs/elasticsearch.js")
script(src="/javascripts/outputs/bar.js")
script(src="/javascripts/outputs/pie.js")
script(src="/javascripts/outputs/table.js")
script(src="/javascripts/widget.js")
script(src="/javascripts/logstash.js")

