div#visual

div#templates
  div.piechart
    table
      caption
      tr
        td.chart
        td.table
          table
            tr
              th Name
              th Value
            tr.template
              td ${name}
              td ${value}

script(src="/javascripts/jquery-1.6.2.min.js")
script(src="/javascripts/jquery.tmpl.min.js")
script(src="/javascripts/d3/d3.js")
script(src="/javascripts/d3/d3.layout.js")
script(src="/javascripts/inputs/loggly.js")
